

body{
    margin:0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.menu{
    position:fixed;
    height:100%;
    width:0%;
    z-index:1;
    top:0;
    left:0;
    overflow-x: hidden;
    background-color: rgb(35, 207, 199);
    transition: 0.30s;
    border-right:5px black solid;
  }
  
  .menu a{
    color:black;
    font-size:25px;
    display:block;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:40px;
    text-decoration: none;
    border-left:5px black solid;
    margin-top:10px;
    transition: 0.30s ;
  }
  
  .menu .close{
    position:absolute;
    top:0px;
    right:20px;
    font-size:30px;
    margin-left:35px;
    padding-top:10px;
    border:none;
  }
  
  .menu a:hover{
    color:black;
    margin-left:50px;
    border-left:5px black solid;
  }
  
  .menu .first{
    margin-top:70px;
  }
  
  
  #open{
    font-size:30px;
    cursor: pointer;
    transition: 0.50s ;
    background-color:black;
    color:white;
    padding-right:10px;
    margin:0px;
    padding-left:10px;
    padding-top:8px;
    top:0px;
    left:0px;
    position:fixed;
    padding-bottom:5px;
    border-radius:10px;
  }
  
  .menu .close:hover{
    border:none;
  }

  .hea h1{
      background-color:aqua;
      width:100%;
    padding-left:80px;
    border-bottom:2px black solid;
    margin-top:0px;
  }
.stepi h3{
    margin-left:20px;
}

.stepi button{
  background-color:gold;
  border-radius:40%;
  margin-left:30px;
}

.stepi h3{
  margin:30px;
  
}

.stepi p{
  margin-left:30px;
}

.stepi img{
  margin-left:30px;
  width:500px ;
}

@media only screen and (max-device-width:770px){
  .hea h1{
    font-size:100px;
    padding-left:150px;
    
  }
  .stepi h3{
    font-size:70px;
  }
  .stepi p{
    font-size:40px;
  }
  .stepi img{
    width:900px;
  }

  
  #open{
    padding-top:5px;
    height:100px;
    font-size:90px;
    background-color:aqua;
    color:black;
    
  }
  .menu .first{
    margin-top:200px;
  }
  .menu a{
    font-size:70px;
    padding:50px;
    font-family:manjari;
  }
   .menu .close{
    font-size:150px;
    font-weight:bolder;
    padding-bottom:0px;
  
  }
  .link h2{
    font-size:50px;
    
  }
  .link{
    margin-bottom:500px;
  }
  .thanks h3{
    font-size:50px;
    
  }

}